*{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f5f6fa;
    color: #333;
    line-height: 1.6;
}
header{
    background: #1e2a38;
    color: #fff;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    z-index: 100;

}
header h2{
    color: #4da3ff;
}

nav a{
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover{
    color: #4da3ff;
}
#home{
    text-align: center;
    padding: 120px 40px;
    background: linear-gradient(120deg,#4da3ff,#6c5ce7);
}
#home h1{
    font-size: 3rem;
    margin-bottom:20px;
}
#home p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
#home a{
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    color:#333 ;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s,color 0.3s ;
}
#home a:hover{
    background: #4da3ff;
    color: #fff;
}
#projects {
    padding: 80px 50px;
    background: #f5f6fa;
}
#projects h2{
    text-align:center ;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #4da3ff;

}
.project-card{
    background: #fff;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
} 
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) ;
}
.project-card h3{
    margin-bottom: 10px;
    color: #4da3ff;
}
.project-card p{
    margin-bottom: 15px;

}
.project-card a{
    color: #6c5ce7;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.project-card a:hover{
    color: #4da3ff;

}
#about{
    padding: 80px 50px;
    background: #fff;
    text-align: center;
}
#about h2{
    font-size: 2rem;
margin-bottom: 20px;
}
#about p{
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    color: #555;
}
#contact{
    padding: 80px 50px;
    background: #1e2a38;
    color: #fff;
    text-align: center;
}
#contact h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#contact p , #contact a {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #fff;
    padding:10px 0;
    
}
#contact strong{
    color: #4da3ff;
    font-weight: 700;
    margin-right: 5px;
}
#contact a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

}
#contact a :hover{
    color: #6c5ce7;
}
#contact i{
    color: #4da3ff;
    margin-right: 8px;
    font-size: 1.2rem;
    vertical-align: middle;}

#contact {
display: flex;
  flex-direction: column; /* يخلي السطور فوق بعضها */
  align-items: center;    /* يوسط السطور في نص الشاشة */
  gap: 10px;              /* مسافة بين سطر الإيميل وسطر الجيت هاب */
  padding:10px auto;
}

.contact-row {
  display: flex;          /* يخلي محتويات السطر الواحد جنب بعض */
  align-items: center;    /* يوسط الأيقونة مع الكلام رأسياً */
  gap: 10px;              /* مسافة بين الكلمة والأيقونة والرابط */
}

.contact-row i {
  color: #58a6ff;         /* تلوين الأيقونات بالأزرق */
}

.contact-row a {
  text-decoration: none;
  color: inherit;         /* ياخد نفس لون النص اللي حوله */
}
@media (max-width:780px) {
    header{
        padding: 10px 20px; 
        flex-direction: column;
        align-items: center;

    }
    header h2{
        font-size: 1.5rem;
    }
    nav a {
        font-size: 0.9rem;
        margin: 5px 10px;
    }
    
    nav{
        margin-top: 8px;
    }
    #contact {
  display: flex;
  flex-direction: column; /* يخلي السطور فوق بعضها */
  align-items: center;    /* يوسط السطور في نص الشاشة */
  gap: 15px;              /* مسافة بين سطر الإيميل وسطر الجيت هاب */
  padding: 40px;
}

.contact-row {
  display: flex;          /* يخلي محتويات السطر الواحد جنب بعض */
  align-items: center;    /* يوسط الأيقونة مع الكلام رأسياً */
  gap: 10px;              /* مسافة بين الكلمة والأيقونة والرابط */
}

.contact-row i {
  color: #58a6ff;         /* تلوين الأيقونات بالأزرق */
}

.contact-row a {
  text-decoration: none;
  color: inherit;         /* ياخد نفس لون النص اللي حوله */
}

}
    


















